[Unit]
Description=Unseal HashiCorp Vault using systemd credentials
After=network-online.target
Wants=network-online.target
After=vault.service
Wants=vault.service
BindsTo=vault.service

[Service]
Type=oneshot
User=vault
Group=vault
LoadCredentialEncrypted=vault-unseal-key-1:/etc/vault-unseal/vault-unseal-key-1.encrypted
LoadCredentialEncrypted=vault-unseal-key-2:/etc/vault-unseal/vault-unseal-key-2.encrypted
LoadCredentialEncrypted=vault-unseal-key-3:/etc/vault-unseal/vault-unseal-key-3.encrypted
LoadCredentialEncrypted=vault-unseal-key-4:/etc/vault-unseal/vault-unseal-key-4.encrypted
LoadCredentialEncrypted=vault-unseal-key-5:/etc/vault-unseal/vault-unseal-key-5.encrypted
ExecStart=/opt/vault-unseal/vault-unseal
ProtectSystem=strict
NoNewPrivileges=yes
ProtectHome=yes
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
